# Sensitive Creds
.env
.env.backup

# Build files
/vendor/
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/maintenance.php
/storage/logs/*.log
bootstrap/cache/*.php

# IDE & Tools
.idea/
.vscode/
.phpunit.cache/
.phpunit.result.cache
