# Sensitive Creds
.env

# Build files
/vendor/
/storage/framework/views/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/maintenance.php
/storage/logs/*.log
bootstrap/cache/*.php

# Docker
docker/data/
